/* 
    Colors
*/

nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFFFFF;
}

body {
    background-color: lightgray;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}