/* 
    Colors
*/

nav {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFFFFF;
}

body {
    background-color: lightgray;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.services {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}